<style>
  #user-recs {
      border: 5px solid black;
      text-align: center;
      color: white;
      background-color: #306665;
      max-width: 70%;
      margin: 30px;
    }
    #user-recs2 {
      border: 5px solid black;
      text-align: left;
      color: black;
      background-color: #white;
      max-width: 90%;
      margin: 30px;
    }

</style>

<div class="media" id="projinfo" style="padding: 10px;">
    <img src="https://upload.wikimedia.org/wikipedia/en/7/7e/Tulane_logo.svg" class="mr-3" alt="Tulane logo">
    
    <div class="media-body" id="user-recs" style="padding: 20px;">
      <h5 class="title">Capstone Project Goal</h5>
      Recommendation systems are a popular and profitable application of machine learning across many forms of media.  There are no available, user-centric recommendation algorithms that draw data from multiple sources. By creating a video game recommendation system we hope to help users discover games they would not have otherwise. Modern recommenders rely on corporate advertising motivations or private user data. The creation and obtainment of video games require more time and financial investment than other media such as film, music, etc. Twitch’s Internet Games Database is a comprehensive dataset and API, similar in function to the IMDB. We aim to use this data to leverage user opinions on popular games to recommend indie games.
    </div>
</div>
    <div class="container" id="user-recs2">
      <h2>Milestone Timeline</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Milestone</th>
            <th>Current Progress</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>MS 1</td>
            <td>We were in the planning stages of both the algorithm and UI. We weren't sure if we would make a website or app yet. We did think it best to start with a KNN algorithm, but we wouldn't begin developmemnt on this until much later. For now our focus was learning and planning, creating a loose timeline and organizing our ideas and time.</td>
            <td>October 11, 2021</td>
          </tr>
          <tr>
            <td>MS 2</td>
            <td>At this point, we understood our most important task was to collect as much data as possible. This was difficult at first, as we wanted specifically user and game interactions as our data. A simple average score combined with the number of reviews would not be substantial. We eventually wanted to create user profiles populated by their input games. To get data similar to this we would need individual ratings by separate users.</td>
            <td>October 25, 2021</td>
          </tr>
          <tr>
            <td>MS 3/4</td>
            <td>We were able to succesfully scrape thousands of entries of useful data for our algorithm, but now we needed to focus development on the algorithm. Matt and Kelly headlined this effort, making substantial progress on the code. By the end of this milestone we had a working KNN implementation ready for testing and training.</td>
            <td>December 15, 2021</td>
          </tr>
          <tr>
            <td>MS 5</td>
            <td>Dooley</td>
            <td>December 15, 2021</td>
          </tr>
          <tr>
            <td>MS 6</td>
            <td>Dooley</td>
            <td>December 15, 2021</td>
          </tr>
          <tr>
            <td>MS 7</td>
            <td>Dooley</td>
            <td>December 15, 2021</td>
          </tr>
          <tr>
            <td>MS 8</td>
            <td>Dooley</td>
            <td>December 15, 2021</td>
          </tr>
        </tbody>
      </table>
  </div>
