{% extends "base.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Source: https://www.w3schools.com/howto/howto_js_dropdown.asp -->
<style>
    #user-out {
      background-color: #f5fbff;
      max-width: 50%;
      padding: 20px;
      margin: 20px;
      border-radius: 30px;
      
    }
    #user-out2 {
      background-color: #f5fbff;
      max-width: 50%;
      padding: 20px;
      margin: 20px;
      border-radius: 30px;
      position: absolute;
      display: inline;
    }
    .dropbtn {
      background-color: #f5fbff;
      color: black;
      padding: 10px;
      font-size: 16px;
      border: black;
      cursor: pointer;
    }
    
    .dropbtn:hover, .dropbtn:focus {
      background-color: #181a1b54;;
      border-radius: 30px;
    }
    
    .dropdown {
      float: left;
      position: relative;
      display: inline-block;
      border-radius: 30px;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      top: 0;
      left: 630px;
      background-color: #f5fbff;
      border-radius: 60px;
      min-width: 100%;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      right: 0;
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 0px 16px;
      text-decoration: none;
      display: block;
    }
    #title {
    font-weight: bolder;
    font-size: 14;
    color: #255250;
    }

    #time {
      text-align: center;
    }

    #rating {
      color: #4f8b8a;;
      text-align: center;
      font-size: large;
      font-weight: bold;
    }
    
    .dropdown a:hover {background-color: #ddd;}
    
    .show {display: block;}
    </style>
    </head>
    <body>
    

<h1>Your Recommendations</h1>
    {% for r in recs %}
    <div id="user-out" class="dropdown">
        <button id="title" onclick="myFunction()" class="dropbtn">Game: {{ r.games }}</em> -- (entered on {{r.timestamp}})</button>
        <div id="myDropdown" class="dropdown-content">
            <a id="rating" href="#">{{r.rec|linebreaksbr  }}</a>
        </div>
    </div>
    {% endfor %}
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
    <h1>Your Preference Profiles</h1>
    {% for e in entries %}
    <div id="user-out2">
        <p>{{ e.age }}, {{ e.genre }}, {{ e.keyword }}, {{ e.theme }}, {{ e.game_modes}}, {{ e.tags }}, {{ e.platforms }} </p>
    </div>
    {% endfor %}
{% endblock %}

</meta>